<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
crossorigin="anonymous"
/>
<link
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
rel="stylesheet"
/>
<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
rel="stylesheet"
/>
<style>
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #f03b17;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.btn {
        border: 1px solid #c6c6c6;
      }
</style>
</head>
<body>

<div class="sidebar">
  <a class="" href="/admin">DASHBOARD</a>
   <a class="nav-link" href="/admin/user"> USERS</a>
  <a class="nav-link" href="/admin/product"> PRODUCTS </a>
  <a class="nav-link" href="/admin/category"> CATEGORY</a>
  <a class="active" href="/admin/Company">BRAND</a>
  <a class="nav-link" href="/admin/order"> ORDERS </a>
  <a class="nav-link" href="/admin/salesreport"> SALES REPORT </a>
  <a class="nav-link" href="/admin/slides">SLIDES</a>
  <a class="nav-link" href="/admin/coupon">COUPONS</a>
</div>

<div class="content">
  <header class="sticky-top bg-white">
    <div class="container">
      <%- include('partials/header')%>
  
  <main class=" container mt-3">
    <div class="col-md-3 m-2 btn-danger">
        <a href="/admin/addcompany" class="btn btn-danger ">ADD</a>
      </div>

    <table  id="myTable" class="mx-5" style="width: 100%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">COMPANY NAME</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">DELETE</th>
                <th scope="col"> CATEGORY</th>
            </tr>
        </thead>
        <tbody>
            <% company.forEach(function(company,index){ %>
    <tr>
    <th scope="row"><%= index+1 %></th>
    <td><%= company.name%></td>
    <td><%=company.description%></td>

    <td><div class="row">
        <div class="col mt-2 btn-danger">
            <a href="/admin/deletecompany?id=<%=company._id %>" onclick="return askPermission(this.href);"  class="btn btn-danger ">DELETE</a>
          </div>
          <div class="col mt-2 btn-danger">
            <a href="/admin/editcompany?id=<%=company._id %>" class="btn btn-danger " >Edit</a>
          </div>
          </div>
    </td>
    <td><button id="addcategorybutton" onclick="getform('<%= company.name%>','<%= company._id%>','<%= company.category%>')" class="btn btn-danger">CATEGORY </button></td>
    </tr>
        <%  }); %>
        </tbody>
    </table>
    
    <div class="categorydiv  p-2 rounded" id="category" style="position: fixed;display: none; top: 50%; left: 50%; transform: translate(-50%, -50%); box-shadow: 4px 10px 10px rgba(78, 72, 72, 0.5); background-color: #f1f1f1;max-height: 50%;overflow: hidden;">
      <span class="close" id="close" style="position: absolute; top: 5px; right: 5px; cursor: pointer; border: 2px solid #7e7272; border-radius: 50%; padding-left: 5px;padding-right: 5px;" >&times;</span>
      <h6 class="mt-1">COMPANY  : <span id="companycat"></span ></h6>
      <div class="input-group">
          <input type="search" placeholder="Search category" class="form-control" id="searchcategory" autocomplete="off" name="search"/>
      </div>
      <form id="categoryform" class="form-container mt-1  rounded p-1">
        <input type="hidden" name="companyid" id="companysid" >
        <ul id="categorylist" class="list-group">
            <%category.forEach(category=>{%> 
              <li class="list-group-item">
              <input type="checkbox" name="category" value="<%=category._id%>" id="category<%=category._id%>"  ><label for=""><%=category.name%></label>
            </li>
            <%})%>
       </ul>
          <div class="form-group d-flex align-items-center justify-content-center">
              <button type="submit" class="btn btn-danger mt-2">APPLY</button>
          </div>
      </form>
  </div>
  
</main>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<script>
$(document).ready( function () {
$('#myTable').DataTable();
} );
</script>
<script>
  function askPermission(link) {
    // Display a confirmation dialog
    var confirmation = confirm("Are you sure you want to delete this brand ?");

    // If the user clicks "OK," allow navigation
    if (confirmation) {
      window.location.href = link;
    }
    // If the user clicks "Cancel," prevent navigation
    else {
      return false;
    }
  }
</script>
<script>
  function getform(name, id, category) {
    $("#companycat").text(name);
    $("#companysid").val(id);

    console.log(category);
    $('input[type=checkbox][name=category]').prop('checked', false);
    if (category) {
      var categoryArray = category.split(','); // Split the category string into an array
      $('input[type=checkbox][name=category]').each(function () {
        const checkboxId = $(this).val();
        if (categoryArray.includes(checkboxId)) { // Check if checkboxId is in the categoryArray
          $(this).prop('checked', true);
        }
      });
    }

    $("#category").show();
  }
</script>

<script>
  $("#categoryform").submit((e) => {
    e.preventDefault();
    // Ask for permission
   
    if (confirm("Are you sure you want to add?")) {
        $.ajax({
            url: "/admin/company/addcategory",
            type: "POST",
            data: $("#categoryform").serialize(),
            contentType: 'application/x-www-form-urlencoded',
            success: (response) => {
              $("#category").hide();
                alert(" category applied");
                console.log(response);
                location.reload();
            }
        });
    }
});

</script>
<script>
  // jQuery code to handle search functionality
  $(document).ready(function () {
    $("#close").on('click',function (){
      $("#category").hide();
    })
      $('#searchcategory').on('input', function () {
          var searchValue = $(this).val().trim().toLowerCase();

          $('input[type=checkbox][name=category]').each(function () {
              var label = $(this).next('label').text().toLowerCase();
              if (label.includes(searchValue)) {
                  $(this).parent().show();
              } else {
                  $(this).parent().hide();
              }
          });
      });
  });
</script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"
></script>
</body>
</html>
